path.slice {
	stroke-width: 2px;
}

polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.gender-number-charts {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  .gender-by-charts {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
    padding-right: 25px;
  }
}

.gender-win-charts {
  width: 100%;
  display: flex;
  flex-direction: column;
  .gender-by-charts {
    display: flex;
    margin-bottom: 20px;
    & > div {
      width: 50%;
    }
  }
}

div.gender-tooltip {	
  position: absolute;
  padding: 20px;
  font-size: 12px;
  background: #000000;
  color: #ffffff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  p {
    margin-top: 5px;
  }
}

.x-axis,
.y-axis {
  font-size: 15px;
}

@media (max-width: 765px) {
  .gender-number-charts {
    flex-direction: column;
    .gender-by-charts {
      width: 100%;
      padding-right: 0;
    }
  }
  .gender-win-charts {
    .gender-by-charts {
      flex-direction: column;
      & > div {
        width: 100%;
      }
    }
  }
}
